.topBanner {
  width: 100%;
  padding: 30px 0 60px;
  background: url('/images/topBanner/back_mob.png') no-repeat 100% 0 / 100% 100%;
  position: relative;
  overflow: hidden;

  @media #{$tablet} {
    background: url('/images/topBanner/back_tab.png') no-repeat 100% 0 / 100% 100%;
  }

  @media #{$laptop} {
    background: url('/images/topBanner/back_lap.png') no-repeat 100% 0 / 100% 100%;
    padding: 40px 0 60px;
  }

  @media #{$desktop} {
    background: url('/images/topBanner/back_desk.png') no-repeat 100% 0 / 100% 100%;
  }

  &::after {
    position: absolute;
    content: '';
    width: 259px;
    height: 184px;
    background: url('/images/topBanner/balls_mob.svg') no-repeat 50% 50% / 100% 100%;
    top: 20px;
    right: 0;

    @media #{$tablet} {
      width: 283px;
      height: 175px;
      background: url('/images/topBanner/balls_tab.svg') no-repeat 50% 50% / 100% 100%;
      top: 30px;
    }

    @media #{$laptop} {
      width: 580px;
      height: 260px;
      background: url('/images/topBanner/balls_lap.svg') no-repeat 50% 50% / 100% 100%;
      top: 20px;
      right: 20px;
    }

    @media #{$desktop} {
      right: 50px;
    }
  }
}

.topBannerTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: $font-main;
  margin-bottom: 16px;

  @media #{$tablet} {
    font-size: 38px;
    line-height: 48px;
  }

  @media #{$laptop} {
    font-size: 46px;
    line-height: 69px;
  }

  @media #{$desktop} {
    font-size: 74px;
    line-height: 111px;
  }
}

.topBannerContainer {
  position: relative;
  z-index: 1;
}

.topBannerDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $font-main;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
  }
}

.topBannerContent {
  width: 60%;

  @media #{$laptop} {
    width: calc(100% - 620px);
  }

  @media #{$desktop} {
    width: 578px;
  }
}