.faq {
  margin-bottom: 40px;

  @media #{$laptop} {
    margin-bottom: 64px;
  }
}

.faqTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: $font-main;
  margin-bottom: 16px;

  @media #{$laptop} {
    font-size: 38px;
    line-height: 48px;
  }
}

.faqItem {
  padding: 16px 0 24px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(145.3deg, #4D549F 34.58%, #202B3F 69.96%);
    bottom: 0;
    left: 0;
  }
}

.faqItemTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.faqItemTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding-top: 8px;
  color: $font-main;

  @media #{$tablet} {
    font-size: 22px;
    line-height: 33px;
  }

  @media #{$laptop} {
    font-size: 28px;
    line-height: 42px;
  }
}

.faqItemArrow {
  width: 56px;
  height: 56px;
  transition: all 0.2s linear;

  &Open {
    transform: rotate(180deg);
  }
}

.faqItemText {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $font-main;
  overflow: hidden;
  transition: all 0.2s linear;
}