.blogPage {
  color: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  p {
    margin-bottom: 24px;

    @media #{$laptop} {
      margin-bottom: 32px;
    }
  }

  h1,h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 16px;

    @media #{$laptop} {
      font-size: 28px;
      line-height: 42px;
    }
  }

  h3,h4,h5,h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;

    @media #{$laptop} {
      font-size: 24px;
      line-height: 36px;
    }
  }

  img {
    margin: 24px 0 32px;

    @media #{$laptop} {
      margin: 60px 0 32px;
    }

    @media #{$desktop} {
      margin: 32px 0;
    }
  }

  .image-style-align-left {
    float: left;
    margin: 0 24px 24px 0;

    @media #{$laptop} {
      margin: 0 32px 32px 0;
    }
  }

  .image-style-align-right {
    float: right;
    margin: 0 0 24px 24px;

    @media #{$laptop} {
      margin: 0 0 32px 32px;
    }
  }

  .image-style-align-center {
    margin: 24px auto;

    img {
      margin: 0;
      width: 100%;
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 24px;

    @media #{$laptop} {
      margin-bottom: 32px;
    }
  }

  thead {
    background: $bg-common;
  }

  th {
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }

  td {
    padding: 20px;
    border-bottom: 1px solid #233755;
  }

  a {
    text-decoration: underline;
  }

  ul {
    padding-left: 36px;
    margin-bottom: 32px;

    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 24px;
    }

    li::before {
      content: '●';
      color: $font-second;
      position: absolute;
      left: -36px;
    }
  }

  ol {
    padding-left: 36px;
    margin-bottom: 32px;

    li {
      margin-bottom: 24px;
    }
  }

  .todo-list { // Список с маркерами приходит с этим классом
    li::before {
      content: '';
    }

    li input {
      position: absolute;
      left: -36px;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }
}