.singlePage {
  color: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  p {
    margin-bottom: 24px;

    @media #{$laptop} {
      margin-bottom: 32px;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 16px;

    @media #{$laptop} {
      font-size: 28px;
      line-height: 42px;
    }
  }

  figure {
    margin: 0;
  }

  .image {
    img {
      margin: 24px 0 32px;
      width: 100%;
      height: auto;

      @media #{$laptop} {
        margin: 60px 0 32px;
      }

      @media #{$desktop} {
        margin: 32px 0;
        width: 400px;
      }
    }
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }

  thead {
    background: $bg-common;
  }

  th {
    padding: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }

  td {
    padding: 20px;
    border-bottom: 1px solid #233755;
  }
}