$font-main: #FFFFFF;
$font-accent: #E48E28;
$font-second: #2953A2;
$font-second-light: #CCCCCC;
$font-gray: #C2D2F0;

$bg-blue-3: #192335;
$bg-common: #1F2F46;
$bg-second: #1C2638;
$bg-accent: #EC7A12;

$bg-common-button: #1F2F46;
$font-common-button: #FFFFFF;

$bg-second-button: #2953A2;
$font-second-button: #EDEDED;

$bg-accent-button: #EC7A12;
$font-accent-button: #FFFFFF;

$bg-tab-button: #1C2638;
$font-tab-button: #7195DB;

$font-second-link: #EDEDED;