$font-white: #FFFFFF;
$font-accent: #E48E28;
$font-second: #CCCCCC;

$bg-blue-3: #192335;
$bg-common: #1F2F46;

$bg-common-button: #1F2F46;
$font-common-button: #FFFFFF;

$bg-second-button: #2953A2;
$font-second-button: #EDEDED;