.newsLayout {
  background: $bg-blue-3;

  &_about,
  &_lottery {
    .newsLayoutContainerTitle,
    .newsLayoutContainerTabs {
      display: none;
    }

    .contentWrapper {
      @media #{$laptop} {
        padding-top: 0;
      }
    }

    .newsLayoutContainer {
      @media #{$laptop} {
        grid-template-columns: 260px auto;
        grid-template-areas:
          "sidebar wrapper wrapper";
        grid-gap: 0 40px;
      }
    }
  }

  &_newsItem {
    .contentWrapper {
      position: relative;

      @media #{$laptop} {
        padding-top: 56px;

        &:after {
          position: absolute;
          content: '';
          background: linear-gradient(145.3deg, #4D549F 4.58%, #202B3F 69.96%);
          width: 100%;
          height: 1px;
          top: 24px;
          left: 0;
        }
      }
    }
  }
}

.newsLayoutWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.newsLayoutContainer {
  width: 100%;

  @media #{$laptop} {
    display: grid;
    grid-template-columns: 266px auto;
    grid-gap: 0 34px;
    grid-template-areas:
      "sidebar title tabs"
      "sidebar wrapper wrapper"
      "sidebar wrapper wrapper";
  }

  @media #{$desktop} {
    grid-gap: 0 20px;
  }
}

.newsLayoutContainerSidebar {
  grid-area: sidebar;
}

.newsLayoutContainerTabs {
  grid-area: tabs;
  margin-bottom: 16px;

  @media #{$laptop} {
    justify-self: end;
    margin-bottom: 0;
  }
}

.contentWrapper {
  padding-top: 40px;
  grid-area: wrapper;

  @media #{$laptop} {
    padding-top: 32px;
  }
}

.newsLayoutContainerTitle {
  display: none;
  grid-area: title;

  @media #{$laptop} {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: $font-main;
  }
}