.mainLotteryContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @media #{$laptop} {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 60px;
    flex-wrap: wrap;
  }
}

.mainContentContainer {
  padding: 80px 0;

  @media #{$laptop} {
    padding: 100px 0;
  }
}