.knowledgeItem {
  width: 100%;
  margin-bottom: 24px;

  @media #{$laptop} {
    margin-bottom: 32px;
  }
}

.knowledgeItemTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: $font-main;
  margin-bottom: 24px;

  @media #{$laptop} {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

.knowledgeItemDate {
  display: flex;
  align-items: center;
  padding: 4px 0;

  img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}

.knowledgeItemAuthorInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;

  @media #{$laptop} {
    margin-bottom: 32px;
  }
}

.knowledgeItemAuthorAvatar {
  width: 65px;
  height: 65px;
  margin-right: 16px;
  border-radius: 50%;
}

.knowledgeItemAuthorName {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $font-main;
  margin-bottom: 8px;
}

.knowledgeItemPageInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #EDEDED;
  white-space: nowrap;
}

.knowledgeItemPageInfoDot {
  width: 4px;
  height: 4px;
  background: #7195DB;
  border-radius: 50%;
  margin: 0 8px;
}

.knowledgeItemTopImg {
  width: 100%;
  height: auto;
  margin-bottom: 32px;

  @media #{$desktop} {
    margin-right: 32px;
    width: 632px;
  }
}

.knowledgeItemHead {
  @media #{$desktop} {
    display: flex;
    align-items: flex-start;
  }
}

.knowledgeItemTags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 24px;

  @media #{$tablet} {
    padding-bottom: 60px;
  }

  @media #{$laptop} {
    margin-bottom: 32px;
  }

  &:before {
    position: absolute;
    content: '';
    background: linear-gradient(145.3deg, #4D549F 4.58%, #202B3F 69.96%);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.knowledgeItemTagItem {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $font-tab-button;
  padding: 6px;
  background: $bg-common;
  border-radius: 4px;
  margin: 0 8px 0 0;
}