.winnerTable {
  .winnerTableHeader {
    padding: 16px 24px;
    background: $bg-common-button;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
  }
}

.winnerTableRow {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  .winnerDate {
    font-size: 14px;
    line-height: 22px;
    opacity: 70%;
    font-weight: 400;
    padding-bottom: 16px;
  }
  .winnerContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    @media #{$tablet} {
      grid-template-columns: repeat(11, 1fr);
    }
    @media #{$laptop} {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
