.sidebar {
  overflow: hidden;
  width: 100%;
  padding: 10px 0;

  @media #{$laptop} {
    width: 266px;
    height: max-content;
    padding: 40px 32px;
    background: $bg-common;
    border-radius: 8px;
  }

  &_about,
  &_lottery {
    .sidebarLink {
      padding: 4px 12px;
      background: $bg-common;
      border-radius: 4px;
      font-size: 16px;
      line-height: 28px;
      color: $font-second-button;

      @media #{$laptop} {
        color: $font-second-light;
        background: none;
        padding: 0;
      }

      &Active {
        font-weight: 400;
        background: $bg-second-button;

        @media #{$laptop} {
          background: none;
          font-weight: 600;
          color: $font-gray;
        }
      }
    }
  }
}

.sidebarItem {
  width: auto !important;
}

.sidebarLink {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  background: none;
  color: $font-second-light;
  padding: 5px 0;
  margin-right: 24px;
  text-align: left;
  white-space: initial;

  @media #{$laptop} {
    font-size: 16px;
    line-height: 28px;
    margin-right: 0;
    padding: 0;
  }

  &Active {
    font-weight: 600;
    color: $font-gray;
  }
}

.sidebarTitle {
  display: none;

  @media #{$laptop} {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: $font-main;
    margin-bottom: 24px;
  }
}
