.pageButtonContainer {
  width: 100%;
  position: relative;
}

.pageButtonContainerButton {
  position: absolute;
  top: 0;
  width: calc(50% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;

  @media #{$tablet} {
    width: auto;
    min-width: 200px;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.pageButtonContainerButtonPrev {
  left: 0;

  img {
    margin-right: 6px;
  }
}

.pageButtonContainerButtonNext {
  right: 0;

  img {
    transform: rotate(180deg);
    margin-left: 6px;
  }
}