.header {
  background: transparent;
  padding: 16px 0 17px;
  position: relative;

  @media #{$laptop} {
    padding: 30px 0;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  width: 195px;
  height: auto;

  @media #{$tablet} {
    width: 210px;
  }
}

.headerCountryInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerCountryLink {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: $font-main;
}

.headerCountryFlag {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}