.baseWrapper {
    padding: 0 20px;

    @media #{$laptop} {
        padding: 0 40px;
    }

    @media #{$desktop} {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 140px;
    }

    &_wide {
        @media #{$desktop} {
            padding: 0 70px;
        }

    }
}