.aboutPageItem {
  width: 100%;
}

.aboutPageItemTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 16px;
  color: $font-main;

  @media #{$laptop} {
    font-size: 38px;
    line-height: 48px;
  }
}

.aboutPageItemContent {
  margin-bottom: 40px;

  @media #{$laptop} {
    margin-bottom: 64px;
  }
}